body {
    font-family: 'Roboto', sans-serif;
}

.auth {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: url("./img/bg.png") center center / cover no-repeat;
}

.auth__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    display: flex;
    flex-direction: column;
    animation: bounce .7s 1;
}

.welcome__btn {
    padding: 13px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1c5bc3;
    border: 1px solid currentColor;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__btn:hover {
    background-color: #1c5bc3;
    color: white;
    border: 1px solid #1c5bc3;
}

.welcome__logo {
    display: block; 
    max-width: 100%;
    margin-bottom: 20px;
    object-fit: contain;
} 

.welcome__btn:after{
    content: '';
    background-image: url(img/icons/main_icon.png);
    width: 17px;
    height: 17px;
    margin-left: 10px;
}

.welcome__btn:hover:after{
    background-image: url(img/icons/main_icon-white.png);
}

@keyframes bounce {
    0% {
        opacity: 0; 
    }

    0%, 
    40%, 
    80% {
        transform: translateY(0);
    }

    30% {
        opacity: 1;
        transform: translateY(-30px);
    }

    70% {
        transform: translateY(-15px);
    }
    
}

